@import "../global/Main.less?3";
@import "../control/TopBar.less?2";

body:extend(.body){};
.topbar-return:extend(.topbar-return){};
.topbar-button:extend(.topbar-return){};
.topbar-noreturn:extend(.topbar-return){};

a{
	text-decoration:none;
	border:0px;

}
